* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(157, 192, 139);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.2s linear;
}
body .container {
  background-color: rgb(237, 241, 214);
  width: 90%;
  max-width: 500px;
  height: 80%;
  border-radius: 20px;
  box-sizing: border-box;
  transition: background 0.2s linear;
}
body .container .header {
  padding: 40px 20px 10px 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
body .container .header .title {
  font: 800 3rem "Nunito", sans-serif;
  color: rgb(18, 48, 9);
}
body .container .header .themeColors .checkbox {
  opacity: 0;
  position: absolute;
}
body .container .header .themeColors .check {
  position: relative;
  width: 50px;
  height: 25px;
  padding: 5px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  transform: scale(1.5);
  cursor: pointer;
}
body .container .header .themeColors .check .fa-sun {
  color: yellow;
}
body .container .header .themeColors .check .fa-moon {
  color: cyan;
}
body .container .header .themeColors .ball {
  width: 20px;
  height: 20px;
  background-color: rgb(250, 250, 250);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
body .container .header .themeColors .checkbox:checked + .check .ball {
  transform: translateX(25px);
}
body .container .main {
  width: 90%;
  max-width: 500px;
  height: 10%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
body .container .main .toIncludeTask {
  width: 80%;
  height: 40px;
  word-break: break-word;
  outline: none;
  border: none;
  background-color: rgb(157, 192, 139);
  padding-left: 5px;
  color: rgb(250, 250, 250);
}
body .container .main .toIncludeTask::placeholder {
  color: rgb(250, 250, 250);
  padding-left: 5px;
  font: 200 1rem "Nunito", sans-serif;
}
body .container .main .addTask {
  cursor: pointer;
  height: 40px;
  width: 20%;
  max-width: 50px;
  outline: none;
  border: none;
  background-color: rgba(250, 250, 250, 0);
}
body .container .main .addTask .fa {
  font-size: 1.5rem;
  color: rgb(0, 208, 28);
}
body .container .tasks {
  width: 100%;
}
body .container .tasks .task {
  border: 1px solid rgb(157, 192, 139);
  border-radius: 5px;
  margin: 0 auto;
  padding: 5px 5px 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: max-content;
  width: 95%;
}
body .container .tasks .task p {
  font: 400 1rem "Nunito", sans-serif;
}
body .container .tasks .buttons {
  width: 40%;
  max-width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2px;
  border-radius: 10px;
}
body .container .tasks .buttons button {
  width: 50%;
  cursor: pointer;
  padding-block: 5px;
}
body .container .tasks .buttons button i {
  font-size: 1.5rem;
}
body .container .tasks .buttons button .fa-check-circle {
  color: rgb(0, 208, 28);
}
body .container .tasks .buttons button .fa-circle-xmark {
  color: rgb(255, 0, 0);
}

.error {
  background-color: rgb(237, 241, 214) !important;
  border: 2px solid rgb(255, 0, 0) !important;
}
.error::placeholder {
  color: rgb(0, 0, 0) !important;
}

.finished {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: line-through;
}

/**/
.bodyDark {
  background-color: rgb(0, 51, 0);
}
.bodyDark .containerDark {
  background-color: rgb(139, 142, 124);
}
.bodyDark .containerDark .header .titleDark {
  color: rgb(157, 192, 139);
}
.bodyDark .containerDark .header .themeColorsDark .check {
  position: relative;
  width: 50px;
  height: 25px;
  padding: 5px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  transform: scale(1.5);
  cursor: pointer;
}
.bodyDark .containerDark .header .themeColorsDark .ball {
  width: 20px;
  height: 20px;
  background-color: rgb(250, 250, 250);
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}
.bodyDark .containerDark .main .toIncludeTaskDark {
  width: 80%;
  height: 40px;
  word-break: break-word;
  outline: none;
  border: none;
  background-color: rgb(0, 100, 0);
  padding-left: 5px;
  color: rgb(250, 250, 250);
}
.bodyDark .containerDark .main .toIncludeTaskDark::placeholder {
  color: rgb(250, 250, 250);
  padding-left: 5px;
  font: 200 1rem "Nunito", sans-serif;
}
.bodyDark .containerDark .main .toIncludeTaskDark .faDark {
  color: rgb(157, 192, 139);
}
.bodyDark .containerDark .tasks .task {
  border: 1px solid rgb(157, 192, 139);
  justify-content: space-between;
  height: max-content;
  width: 95%;
}
.bodyDark .containerDark .tasks .buttons button {
  width: 50%;
  cursor: pointer;
  padding-block: 5px;
}
.bodyDark .containerDark .tasks .buttons button .fa-check-circle {
  color: rgb(0, 208, 28);
}
.bodyDark .containerDark .tasks .buttons button .fa-circle-xmark {
  color: rgb(255, 0, 0);
}

.error {
  background-color: rgb(237, 241, 214) !important;
  border: 2px solid rgb(255, 0, 0) !important;
}
.error::placeholder {
  color: rgb(0, 0, 0) !important;
}

.finished {
  color: rgba(0, 0, 0, 0.6);
}

/*# sourceMappingURL=styles.css.map */
